<ion-header>
  <ion-navbar>
    <ion-title>
      Estabelecimentos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <ion-list id="estabelecimentos-list3">
    <ion-item-sliding>

      <ion-item *ngFor="let item of establishments?.items" color="none" (click)="goToCurtoCaf(item)">
        <ion-thumbnail item-left>
          <img *ngIf="item?.image" src="{{item?.image}}"/>
          <img *ngIf="!item?.image" src="assets/img/wRHBzTr8Swq5Aqbj6wKX_32808343_1732863783466170_1685969371727396864_n.png" />
        </ion-thumbnail>
        <h2>
          {{ item.social_name }}
        </h2>
      </ion-item>

      <!--<ion-item color="none" on-click="goToCurtoCaf()" id="estabelecimentos-list-item2">-->
        <!--<ion-thumbnail item-left>-->
          <!--<img src="assets/img/wRHBzTr8Swq5Aqbj6wKX_32808343_1732863783466170_1685969371727396864_n.png" />-->
        <!--</ion-thumbnail>-->
        <!--<h2>-->
          <!--Curto Café-->
        <!--</h2>-->
      <!--</ion-item>-->
      <!--<ion-item-options side="left">-->
        <!--<button ion-button color="light"></button>-->
      <!--</ion-item-options>-->
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="!establishments?.items.length">
    Não foi possível encontrar nenhum estabelecimento.
  </div>
  <div class="pagination">
    <ion-icon name="arrow-back" (click)="backPage()"></ion-icon>
    <span> Pagina {{ page }} </span>
    <ion-icon name="arrow-forward" (click)="forwardPage()"></ion-icon>
  </div>
</ion-content>
