page-conta {

  .list-md ion-item-sliding {
    background-color: transparent;
  }
  ion-item, .item-md {
    background-color: transparent;
    //color: #fff;
  }

  .background-content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: -15px 0px;
    overflow: hidden;
    background-color: #000;
    div {
      filter: blur(8px);
      opacity: .65;
      height: 100%;
      background-size: cover;
      transform: scale(1.1);
      background-position: center center;
      transition: background .5s;
    }
  }


  .button {
    margin: 10px;
    width: calc(100% - 20px);
  }

  .cartao {
    border-radius: 10px;
    background: linear-gradient(to bottom right, #444 0%, #666 100%);
    padding: 1px;

    ion-label {
      overflow: auto;
      margin: 0;
    }
    .item-md {
      background: none;
    }
    .cardnumber, .valid {
      color: rgba(236, 220, 236, 1);
      font-family: "Share Tech Mono", monospace;
      letter-spacing: 0.1em;
      line-height: 1;
      text-shadow: 0 -1px 0px rgba(155, 155, 155, 0.5), 0 1px 1px rgba(0, 0, 0, 20.75);
    }

    .cardnumber {
      margin-top: 50px;
      font-size: 1.35em;
      //position: absolute;
      //top: 80px;
    }
    .valid {
      font-size: 1.35em;

      .label {
        font-size: .5em;
        letter-spacing: 0;
        text-shadow: none;
        color: #222;
      }
    }
  }
}
