<ion-header>
  <ion-navbar>
    <ion-title>
      {{ establishment.social_name }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="background-content">
    <div style="background-image:url('/assets/img/menu.jpg')"></div>
  </div>
  <ion-list id="curtoCaf-list5">
    <ion-item color="none" *ngFor="let product of products" (click)="addItem(product)">
      {{ product.name }} R$ {{ product.price/100 | number: '.2' }}
    </ion-item>
  </ion-list>

  <div *ngIf="pedido?.length" class="pedido">
    <ion-list>
      <ion-item *ngFor="let group of pedido">
        <span>{{group.length}}x</span> {{group[0].name}} R$ {{ (group[0].price*group.length)/100 | number: '.2' }}
      </ion-item>
    </ion-list>
      <div class="total">
        Valor total: R$ {{ valorTotal/100 | number: '.2' }}
        <button ion-button color="positive" (click)="confirmOrder()">
          Confirmar
        </button>
      </div>
  </div>

</ion-content>
